*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff; 
    height: 100vh;

}
header{
    display: flex;
    justify-content: end;
    height: 60px; 
    padding: 0 12px;
}
header .options{
    display: flex;
    align-items: center;
    gap: 12px; 
}
header .options a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    color: #202124; 
}
header .options a:hover{
    text-decoration: underline;
}
header .options a img{
    height: 25px;
    width: 25px; 
}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    
    
}
.search-logo{
    display: inline-block;
    width: 20px; 
    height:20px; 
    background-image: url(assets/search.svg);
    background-size: cover;
    opacity: 0.5;
    


}
.micro-logo{
    display: inline-block;
    width: 18px; 
    height:18px; 
    background-image: url(assets/mic.svg);
    background-size: cover;

}
.camera-logo{
    display: inline-block;
    width: 18px; 
    height:18px; 
    background-image: url(assets/camera.svg);
    background-size: cover;

}
main{
    height: calc(100% -60px);
    display: flex;
    justify-content: center;
    align-items: center;  
   
}
main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px; 
}
main .container figure{
    height: 100%; 
}

main .container figure img{
    height: 100%;

}
main .container .searcher {
    display: flex;
    gap: 8px; 
    align-items: center;
    height: 50px;
    width: 500px;
    padding: 8px 12px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 25px;
}
main .container .searcher button{
    border: none;
    background-color: transparent;
}

main .container .searcher input{
    width: 100%;
    border: none; 
    background-color: transparent;
}
main .container .searcher-button{
    display: flex;
    gap: 10px;
    
}
main .container .searcher-button button{
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 150px; 
    background-color: rgb(240, 238, 238);
    cursor: pointer;

}
main .container input{
    width: 500px;
    height: 30px;
    border-radius:5px ;
}

main .container p{
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
}
main .container p a{
    color: rgb(2, 0, 128);
}
main .container p a:hover{
    text-decoration: underline;

}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 90px;
    background-color: rgb(240, 238, 238);
}
footer section{
    padding: 0 30px;
    height: 50%;


}
footer section span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
}
footer section.more-info{
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;


}
footer section.more-info div{
    display: flex;
    gap: 12px; 

}
footer section.more-info div.info1{
    width: 50%;
}
footer section.more-info div.info2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(240, 238, 238);
    width: 15%;
} 
footer section.more-info div a{
    font-family: Arial, sans-serif;
    font-weight:lighter;
    font-size: 14px;
    text-decoration: none;
    color: #202124;
}
footer section.more-info div a:hover{
    text-decoration: underline;
}
